*{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    padding: 1%;
    margin: 0;

}

body {
    background-color: #eeeee6;
}
h1 {
    display: flex;
    justify-content: center;
    font-size: 5rem;
}
p{
    font-size: 1rem;

}